body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #808080;
  font-family: Arial, sans-serif;
}

.calculator {
  background: #000000;
  padding: 20px;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 10px;
  width: 250px;
}

#display {
  width: 100%;
  height: 50px;
  font-size: 15px;
  text-align: left;
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 5px;
  border: none;
  color:#f0f0f0
}
#result {
  text-align: right;
  font-size: 24px;
  color: #757070;
  margin-top: 5px;
  height: 30px;
  background: #222;
  border-radius: 5px;
  padding: 5px;
}
.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

button {
  padding: 20px;
  font-size: 18px;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 5px;
  background: #444;
  color: white;
  cursor: pointer;
}

button:hover {
  background: gray;
}

button.equal {
  background: #f57c00;
}
button.Clear {
  background: red;
}